:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  z-index: 10;
  color: white;
  font-family: "Arial", sans-serif;
  /* pointer-events: none; */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.category {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

.category.active {
  color: white;
}

.result {
  font-size: 2rem;
  font-weight: bold;
  color: #ffe082;
  animation: pulse 1.5s infinite;
}

.hint {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #bbbbbb;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
